.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;

  padding: 15px 30px;

  color: var(--light);
  background-color: var(--accent);
  border-radius: 60px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.75;

    padding: 16px 30px;
  }

  &:hover,
  &:focus {
    background-color: var(--green-darker);
  }

  &:active {
    transform: scale(0.95);
  }
}
