.container {
  // ===== Mobile screen 328px =====
  max-width: 328px;

  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;

  // ===== Tablet screen 768px =====
  @media screen and (min-width: 768px) {
    max-width: 768px;

    padding-left: 60px;
    padding-right: 60px;
  }

  // ===== Desctop screen 1440px =====
  @media screen and (min-width: 1440px) {
    max-width: 1200px;

    padding-left: 130px;
    padding-right: 130px;
  }
}
