.container {
  // ===== screen 320px =====
  max-width: 100vw;

  padding: 0 5%;

  margin: 0 auto;

  // ===== screen 1366px =====
  @media screen and (min-width: 1366px) {
    max-width: 1220px;

    padding: 0 10px;
  }
}
