@mixin section($pt: 0, $pb: 0, $pl: 0, $pr: 0) {
  padding-top: $pt;
  padding-bottom: $pb;
  padding-left: $pl;
  padding-right: $pr;
}

// ----------------- Adaptive Font --------------------
$maxWidth: 1440;
@mixin adaptiv-font($maxFontSize, $minFontSize) {
  $addSize: $maxFontSize - $minFontSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$minFontSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

@mixin adaptiv-line-height($maxHeight, $minHeight) {
  $addSize: $maxHeight - $minHeight;
  $maxWidth: $maxWidth - 320;
  line-height: calc(
    #{$minHeight + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
