:root {
  // --------- Fonts ---------
  --font-arbutus: 'Arbutus Slab', serif;
  --font-montserrat: 'Montserrat', sans-serif;

  // ---------- Text ----------
  --titles-color: #123149;
  --light: #ffffff;
  --light-gray: #a5adba;
  --dark-gray: #708492;
  --dark-lighter: #2b475b;
  --green-darker: #0da864;
  --dark-blue-90: #2b475b;
  --red: #e52a57;

  // ---------- Colors ----------
  --accent: #0ecb78;
  --dark-blue: #133249;
  --dark-blue-80: #1f3c52;
  --light-blue: #f3f6fa;
}
